<div class="center hero-unit">
    <h1>Property Management Solutions</h1>
    
<h2>
    We make managing properties easy.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("pm.jpeg", alt: "Rails"), 'http://www.google.com/' %>